* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-contents {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-content {
  font-size: 18px;
  color: darkslategrey;  
}

.flex-item-center {
  padding: 20px;
  flex: 50%;
  background-color: red;
  color: white;
  font-family: 'Staatliches', cursive;
}

.flex-item-footer {
  padding: 10px;
  flex: 50px;
  background-color: green;
}

.flex-item-center, .flex-item-footer {
  border-radius: 20px;  
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
  background-color: yellow;  
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
  background-color: orange;  
}

.href-font-size {
  font-size: 18px;
  font-family: 'Staatliches', cursive; 
}

strong {
  font-family: 'Staatliches', cursive; 
}

a:visited {
  color: white;
}

a:hover {
  color: purple;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .container {
    margin-right: 2%;
    margin-left: 2%;
  }

  .flex-contents {
    margin: 5px 0;
  }

  .flex-item-center {
    margin-bottom: 5px;
  }

  .flex-item-footer {
    margin-top: 5px;
  }
}

@media (max-width: 1000px) {
  .container {
    margin-right: 7%;
    margin-left: 7%;
  }
}
